# Ignore build artifacts
bin/
dist/
coverage*
*.out

# Ignore VCS and editor files
.git/
.gitignore
.idea/
.vscode/
*.swp

# Ignore local env files
.env
.env.*

# Ignore logs
*.log
# Ignore extra local directories
browser-plugin/
docker/
docks/
infra-env/
sql/
test-env/
