---
services:
  service:
    build:
      context: .
      dockerfile: build/package/service/Dockerfile
    environment:
      - PORT=${PORT:-8080}
      - DSN=${DSN:-host=postgres user=deframer password=deframer dbname=deframer port=5432 sslmode=disable}
      - LOG_DATABASE=${LOG_DATABASE:-false}
      - LOG_LEVEL=${LOG_LEVEL:-debug}
      - LOCAL_FEED_FILES_DIR=${LOCAL_FEED_FILES_DIR:-}
    ports:
      - "${PORT:-8080}:${PORT:-8080}"
    networks:
      - infra-net
      - test-net

  worker:
    build:
      context: .
      dockerfile: build/package/worker/Dockerfile
    environment:
      - DSN=${DSN:-host=postgres user=deframer password=deframer dbname=deframer port=5432 sslmode=disable}
      - LOG_DATABASE=${LOG_DATABASE:-false}
      - LOG_LEVEL=${LOG_LEVEL:-debug}
      - LOCAL_FEED_FILES_DIR=${LOCAL_FEED_FILES_DIR:-}
    networks:
      - infra-net
      - test-net

networks:
  infra-net:
    name: deframer-infra-env-net
    external: true
  test-net:
    name: deframer-test-env-net
    external: true
