PORT=8080
DSN=host=localhost user=deframer password=deframer dbname=deframer port=5432 sslmode=disable
LOG_DATABASE=false
LOG_LEVEL=debug
LOCAL_FEED_FILES_DIR=

# LLM
LLM_TYPE=dummy
LLM_MODEL=
LLM_API_KEY=
LLM_BASE_URL=

# Docker Compose Configuration
DOCKER_SERVICE_REPLICAS=3
DOCKER_WORKER_REPLICAS=2
