---

# https://monitoring.docs.scylladb.com/stable/install/docker-compose.html
# https://betanet.net/view-post/scylladb-with-docker-a-comprehensive-guide

# docker compose up -d
# docker compose logs -f
# docker exec -i scylla-node cqlsh -f /schema.cql
# docker exec -it scylla-node cqlsh -e "DESCRIBE KEYSPACES;"
# docker exec -it scylla-node cqlsh

# cqlsh> USE key_value_store;
# cqlsh:key_value_store> INSERT INTO items (key, value, created_at) VALUES ('abc', '{"json": true}', toTimestamp(now()));
# cqlsh:key_value_store> SELECT * FROM items;

services:
  scylla-node:
    image: scylladb/scylla:latest
    container_name: scylla-node
    command: --developer-mode 1
    ports:
      - "9042:9042"
    volumes:
      - scylla-data:/var/lib/scylla
      - ./schema.cql:/schema.cql
    restart: unless-stopped
    networks:
      - scylla-net
    healthcheck:
      #test: ["CMD-SHELL", "cqlsh -e 'DESCRIBE KEYSPACES'"]
      # We check for "UN" (Up / Normal) in the status output
      test: ["CMD-SHELL", "cqlsh scylla-node 9042 -e 'DESCRIBE KEYSPACES'"]
      interval: 5s
      timeout: 5s
      retries: 60

  scylla-waiter:
    image: scylladb/scylla:latest
    container_name: scylla-waiter
    networks:
      - scylla-net
    volumes:
      - ./schema.cql:/schema.cql
    depends_on:
      scylla-node:
        condition: service_healthy
    entrypoint: ["cqlsh", "-f", "/schema.cql", "scylla-node", "9042"]

volumes:
  scylla-data:

networks:
  scylla-net:
