---

services:
  rssbridge:
    image: nginx:alpine
    ports:
      - "8002:80"
    networks:
      - test-env-network

networks:
  test-env-network:
    external: true
    name: deframer-test-env-net
